<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.AttrValueMapper">

    <select id="selectListByRoomId" resultType="com.tyz.web.admin.vo.attr.AttrValueVo">
        select v.id,
               v.name,
               v.attr_key_id,
               k.name attr_key_name
        from attr_value v
                 join attr_key k on v.attr_key_id = k.id
        where v.is_deleted = 0
          and k.is_deleted = 0
          and v.id in (select attr_value_id
                       from room_attr_value
                       where is_deleted = 0
                         and room_id = #{id})
    </select>
</mapper>
