<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.FeeValueMapper">

    <select id="selectListByApartmentId" resultType="com.tyz.web.admin.vo.fee.FeeValueVo">
        SELECT fv.id,
               fv.name,
               fv.unit,
               fv.fee_key_id,
               fk.name AS fee_key_name
        FROM fee_value fv
                 JOIN fee_key fk ON fv.fee_key_id = fk.id
        WHERE fv.is_deleted = 0
          AND fk.is_deleted = 0
          and fv.id in (select fee_value_id
                        from apartment_fee_value
                        where is_deleted = 0
                          and apartment_id = #{id})
    </select>
</mapper>
