<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.GraphInfoMapper">

    <select id="selectListByItemTypeAndId" resultType="com.tyz.web.admin.vo.graph.GraphVo">
        select
            name,
            url
        from graph_info
        where is_deleted=0
          and item_type=#{itemType}
          and item_id=#{itemId}
    </select>
</mapper>
