<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.LabelInfoMapper">

    <select id="selectListByApartmentId" resultType="com.tyz.model.entity.LabelInfo">
        select id,
               type,
               name
        from label_info
        where is_deleted = 0
          and id in
              (select label_id
               from apartment_label
               where is_deleted = 0
                 and apartment_id = #{id})
    </select>
    <select id="selectListByRoomId" resultType="com.tyz.model.entity.LabelInfo">
        select id,
               type,
               name
        from label_info
        where is_deleted = 0
          and id in
              (select label_id
               from room_label
               where is_deleted = 0
                 and room_id = #{id})
    </select>
</mapper>
