<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyz.web.admin.mapper.LeaseAgreementMapper">

    <select id="pageAgreementByQuery" resultType="com.tyz.web.admin.vo.agreement.AgreementVo">
        select la.id,
        la.phone,
        la.name,
        la.identification_number,
        la.lease_start_date,
        la.lease_end_date,
        la.rent,
        la.deposit,
        la.status,
        la.source_type,
        la.additional_info,
        ai.id   apartment_id,
        ai.name apartment_name,
        ai.district_id,
        ai.district_name,
        ai.city_id,
        ai.city_name,
        ai.province_id,
        ai.province_name,
        ri.id   room_id,
        ri.room_number,
        pt.id   payment_type_id,
        pt.name payment_type_name,
        pt.pay_month_count,
        lt.id   lease_term_id,
        lt.month_count,
        lt.unit
        from  lease_agreement la
        left join
        apartment_info ai
        on la.apartment_id = ai.id and ai.is_deleted=0
        left join
        room_info ri
        on la.room_id = ri.id and ri.is_deleted=0
        left join
        payment_type pt
        on la.payment_type_id = pt.id and pt.is_deleted=0
        left join
        lease_term lt
        on la.lease_term_id = lt.id and lt.is_deleted=0
        <where>
            la.is_deleted = 0
            <if test="queryVo.provinceId != null">
                and ai.province_id = #{queryVo.provinceId}
            </if>
            <if test="queryVo.cityId != null">
                and ai.city_id = #{queryVo.cityId}
            </if>
            <if test="queryVo.districtId != null">
                and ai.district_id = #{queryVo.districtId}
            </if>
            <if test="queryVo.apartmentId != null">
                and la.apartment_id = #{queryVo.apartmentId}
            </if>
            <if test="queryVo.roomNumber != null and queryVo.roomNumber != ''">
                and ri.room_number like concat('%',#{queryVo.roomNumber},'%')
            </if>
            <if test="queryVo.name != null and queryVo.name != ''">
                and la.name like concat('%',#{queryVo.name},'%')
            </if>
            <if test="queryVo.phone != null and queryVo.phone != ''">
                and la.phone like concat('%',#{queryVo.phone},'%')
            </if>
        </where>
    </select>
</mapper>
